# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# actions
.venv/*
_actions/*
.pscale/cli-helper-scripts/typescript

# next.js
.next/
out/

# production
dist/
build

# misc
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
._*
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo
